<br /><br /><br /><br />
<div class="container">
   <center><img src="~/Content/image/Ginkologo_final_web.jpg" /></center> 
    @{
        ViewBag.Title = "About";
    }

    <h2>About</h2>

   
    <p>United Extended Home Health Care, LLC is a freestanding Personal Care Agency licensed in the State of Wisconsin. It was founded by Charlie Thao and Fue moua in 2005 to provide personal care services to the communities in the Milwaukee and surrounding counties. United Extended Home Healthcare services people of all culture and has many multilingual professional staff to help those who may have a language barrier.

<h2> Mission</h2>

    <p>United Extended Home Healthcare aims to provide quality and professional personal care services to patients and their families in the comfort and privacy of their own homes.</p>

    <div class="cntainer">
        @*<center><img src="~/Content/image/photos_012111_.jpg" /></center>*@
        <h2>FAQs (Frequently Asked Questions)</h2>

        <p><strong>What services does United Extended Home Healthcare provide?</strong></p>
        <p>
            We provide in-home personal care services for those who qualify. United Extended Home Healthcare will work with you to develop a plan of care to assist you with your activities of daily living needs as determined by your condition and in accordance with your primary physician’s order.
        </p>
        <br /><br />
        <p><strong>How do I apply for home care services?</strong></p>
        <p>
            You need to fill out an application and sign a release of healthcare information so that we can obtain your medical information and an MD order to assess for the need for home care services from your primary care physician. Once the information is received, an assessment visit will be scheduled with you by one of our Registered Nurses and conducted in your home to evaluate your need for home care services. During the assessment, the patient and family need to fully cooperate with the nurse in order for the nurse to make a complete and accurate assessment. Please provide all necessary medical information to ensure you get the best care possible.
        </p>
        <br /><br />
        <p><strong>What are the qualifications for personal care services?</strong></p>
        <p>
            You must have a medical need and be functionally limited in providing care for yourself such as bathing, dressing, grooming, lighthouse keeping, and cooking. The assessment nurse will contact you to schedule an assessment. The assessment will take approximately 1-2 hours.
            <br /><br />
        <p><strong>How do I know how many hours I can qualify?</strong></p>
        <p>
            The number of hours varies and depends on your health conditions, abilities, M.D. approval, insurance approval and your physical needs. The numbers of hours and care plan will be updated every 50 to 60 days as needed to insure the best and appropriate care is provided.
        </p>
        <br /><br />
        <p><strong>Can I have my friend or family member to be my care taker or PCW?</strong></p>
        <p>
            Yes, United Extended Home Healthcare will honor your decision to choose a friend or relative whom you trust and are comfortable with to provide care for you. However, that person cannot be legally responsible or your, such as a parent of a minor or a legal guardian. That person will need to go through a hiring process with Highlander which will require him/her to fill out an application, pass a background check and must get TB screening. If the potential employee is accepted, an orientation and training is required. That PCW will then work under the supervision of your RN Case Manager. If you do not have a friend or family member who is able/willing to be your PCW (caretaker), don’t worry. Highlander also has agency Personal Care Workers who can provide care for you.
        </p>
        <br /><br />
        <p><strong>Do I have to pay out of my pocket or will services be covered by my insurance?</strong></p>
        <p>In most case, your insurance or state Medicaid (T-19) and HMO will pay for the services. If you do not have insurance or Medicaid (T-19), you can go and apply at your County Health and Human Service Department. We also accept private pay and our intake service personnel will work with you to ensure you get proper information and help.
        </p>
        <br /><br />
        <p><strong>What kind of insurance’s United Extended Home Healthcare accept?</strong></p>
        <p>United Extended Home Healthcare is currently accepting Medicaid (T-19) and its HMOs: Unitedhealth Care, Molina Healthcare, Managed Health Services, Network Health Plan, Wisconsin Care (Family Care) and private pay.
        </p>
        <br /><br />
        <p><strong>Can I change my insurance or HMO Health Plan?</strong></p>
        <p>Yes, but you must inform United Extended Home Healthcare of any changes to your health insurance. Failure to do so may result in interruption of services or discharge from United Extended Home Healthcare. For Medicaid or SSI recipients who would like to switch their insurance from T-19 to an HMO or HMO to T-19, call 1- 800-291-2002 and press 1 to speak to a representative.
        </p>
        <br /><br />
        <p><strong>What should I do when I do not have the kind of insurance that United Extended Home Healthcare can accept?</strong></p>
        <p>United Extended Home Healthcare will work with you and your family to refer you to agencies that carry your insurance or meet your home care needs.

        <br /><br /><br /><br />

</div>
  

</div>
<footer>
    <center>
        <p>&copy; @DateTime.Now.Year - United Extended Home Healthcare</p>
    </center>
</footer>
