@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Extended Home Health Care, LLC is a freestanding Personal Care Agency licensed in the State of Wisconsin. It was founded by Charlie Thao and Fue moua in 2005 to provide personal care services to the communities in the Milwaukee and surrounding counties. Highlander services people of all culture and has many multilingual professional staff to help those who may have a language barrier.

<p>Mission</p>

Highlander aims to provide quality and professional personal care services to patients and their families in the comfort and privacy of their own homes.</p>
