<br /><br /><br /><br />
<div class="container">
    @{
        ViewBag.Title = "Caregiver";
    }

    <h2>Caregiver</h2>

    <strong>Weekly Time Sheets</strong>
    <p><a href="~/Content/image/TimeSheet.pdf" value="Resume"> Personal Care Worker (PCW) Time Sheet </a></p>
    <strong>New Patients Enrollment</strong>
    <p><a href="~/Content/image/TimeSheet.pdf" value="Resume"> Personal Care Worker (PCW) Time Sheet </a></p>

    @*<center><img src="~/Content/image/photos_012111_.jpg" /></center>*@






</div>
<footer>
    <center>
        <p>&copy; @DateTime.Now.Year - United Extended Home Healthcare</p>
    </center>
</footer>
