
                              <br /><br /><br /><br />
<div class="container">
    <center><img src="~/Content/image/Ginkologo_final_web.jpg" /></center>
    @{
        ViewBag.Title = "Caregiver";

    }

    <h2>Welcome Back Caregivers</h2>





    <strong>Log in using your Google Account to edit Calender to request for Time Off or change your Work Hours:</strong>

    <br /><br />


    <iframe src="https://calendar.google.com/calendar/embed?title=United%20Extended%20Home%20Healthcare&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=koudkou%40gmail.com&amp;color=%232952A3&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%232F6309&amp;ctz=America%2FChicago" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>

    <br /><br /><br /><br />
    <strong>Weekly Time Sheets</strong>
    <p><a href="~/Content/image/TimeSheet.pdf" value="Resume"> Personal Care Worker (PCW) Time Sheet </a></p>
    <strong>New Patients Enrollment</strong>
    <p><a href="~/Content/image/PatientForm.pdf" value="Resume"> New Patient Form</a></p>

<br /><br /><br /><br />

  

</div>

<footer>
    <center>
        <p>&copy; @DateTime.Now.Year - United Extended Home Healthcare</p>
    </center>
</footer>
