
                              <br /><br /><br /><br />
<div class="container">
    <center><img src="~/Content/image/Ginkologo_final_web.jpg" /></center>

    @{
        ViewBag.Title = "Caregiver";

    }

    <h2>Welcome Back Caregivers</h2>





    <strong>Log in using your Google Account to edit Calender to request for Time Off or change your Work Hours:</strong>

    <br /><br />


    <iframe src="https://calendar.google.com/calendar/embed?title=United%20Extended%20Home%20Healthcare&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=koudkou%40gmail.com&amp;color=%232952A3&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%232F6309&amp;ctz=America%2FChicago" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>

    <br /><br /><br /><br />
    <strong>Weekly Time Sheets</strong>
    <p><a href="~/Content/image/TimeSheet.pdf" value="Resume"> Personal Care Worker (PCW) Time Sheet </a></p>
    <strong>New Patients Enrollment</strong>
    <p><a href="~/Content/image/PatientForm.pdf" value="Resume"> New Patient Form</a></p>

<br /><br /><br /><br />


        <!-- core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/animate.min.css" rel="stylesheet">
        <link href="css/prettyPhoto.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">
        <link href="css/responsive.css" rel="stylesheet">

        <link href="css/paystrub.css" rel="stylesheet">

     
        <link rel="shortcut icon" href="images/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">



        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


        <script src="/js/jquery-1.9.1.min.js"></script>
        <script src="/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
      

        <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-23076734-1', 'realcheckstubs.com');
        ga('send', 'pageview');
        </script>

        <script type="text/javascript">
        setTimeout(function(){var a=document.createElement("script");
            var b=document.getElementsByTagName("script")[0];
            a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0018/2023.js?"+Math.floor(new Date().getTime()/3600000);
            a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
        </script>


        <script type="text/javascript" src="/js/lightbox/jquery.lightbox.min.js"></script>
        <!--<script type="text/javascript" src="/js/jquery_cycle.js"></script>-->
        <script type="text/javascript" src="/js/jquery_cycle.min.js"></script>
      
        <script type="text/javascript">
        if (self == top) {
            document.documentElement.style.display = 'block';
        } else {
            top.location = self.location;
        }
        </script>


    <body id="fix-for-navbar-fixed-top-spacing">

        <div class="container">

            <div id="content">

                <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css" type="text/css" media="all" />
                <link rel="stylesheet" href="http://static.jquery.com/ui/css/demo-docs-theme/ui.theme.css" type="text/css" media="all" />

                <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.1/css/lightbox.min.css">



                <link rel="stylesheet" type="text/css" href="/css/formp.css">



                <h1 style="text-align: center;      color: #5F5757;">Your Earning Statement</h1>

                <div class="buttomarea" style="line-height: 24px;float: left;margin: 5px 0;">
                    <input type="hidden" class="contract" name="stubs[header][contractor]" value="0" id="contract" />
                    <span class="contractor">
                        <div class="btn-group" data-toggle="buttons-checkbox"></div>
                    </span>
                </div>

                <div class="midarea">

                    <form method="post" id="stubsForm" action="geteasysub">
                        <input type="hidden" name="_token" value="wjzIjqqViwywDASDfTMwcotDuf5MDaAifckJvbJB">


                        <div class="repdiv1">
                            How are you paid?
                            <select name="howpaid" class="refreshable" id="howpaid" style="width:100px;" data-old="1">
                                <option value="1">Weekly</option>
                                <option value="2">Bi-Weekly</option>
                                <option value="3">Monthly</option>
                                <option value="4">Semi-Monthly</option>
                                <option value="5">Annually</option>
                            </select>
                  
                            <span style="font-weight: normal;" title="Use Pay Period ytd for employees that haven't worked the entire year or to manipulate the employee ytd." rel="tooltip">Pay Period YTD </span>
                            <select name="taxRate" class="refreshable" id="taxRate" style="width: 50px;">
                                <option value=""></option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                                <option value="32">32</option>
                                <option value="33">33</option>
                                <option value="34">34</option>
                                <option value="35">35</option>
                                <option value="36">36</option>
                                <option value="37">37</option>
                                <option value="38">38</option>
                                <option value="39">39</option>
                                <option value="40">40</option>
                                <option value="41">41</option>
                                <option value="42">42</option>
                                <option value="43">43</option>
                                <option value="44">44</option>
                                <option value="45">45</option>
                                <option value="46">46</option>
                                <option value="47">47</option>
                                <option value="48">48</option>
                                <option value="49">49</option>
                                <option value="50">50</option>
                                <option value="51">51</option>
                                <option value="52">52</option>
                            </select>
                            
                        </div>

                        <table class="tablex" width="760" height="251" border="1">
                            <tr>
                                <td height="34" colspan="5" bgcolor="#999999">
                                  
                                       <center>EARNING STATEMENT</center> 
                                   


                                </td>
                            </tr>
                            <tr>
                                <td height="35" colspan="5"><input type="text" id="mynameandadress" class="addtext" maxlength="60" name="stubs[header][employeename]" value="" placeholder="Braden Chan, 9724 Jarvis Circle, Jax FL" required data-val="John Doe, 123 Abc Street, Jax FL">&nbsp;  <label id="mylavel1chk" for="stubnumber">#</label>  <input type="text" class="addtext" name="stubs[1][stubnumber]" id="stubnumber" value="75840" placeholder="Pay stub no: ex 12354" required> </td>
                            </tr>
                            <tr>
                                <td width="320" height="38" align="center" bgcolor="#999999"><label>SSN</label>&nbsp;</td>
                                <td colspan="2" align="center" bgcolor="#999999"><label>PAY PERIOD</label>&nbsp;</td>
                                <td width="149" align="center" bgcolor="#999999"><label>PAY DATE</label>&nbsp;</td>
                                <td width="146" align="center" bgcolor="#999999">
                                    <label>EMPLOYEE ID </label>
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td height="32" align="center"><input type="text" class="addtext" name="stubs[header][sss]" style="width:40%;" placeholder="XXX-XX-1234" required value="" data-val="XXX-XX-1234">&nbsp;</td>
                                <td colspan="2" align="center"><input type="text" name="stubs[1][txtPayPeriod]" class="refreshable" id="txtPayPeriod" value="07/31/2015 - 08/06/2015" style="width:70%;">&nbsp;</td>
                                <td align="center"><input type="text" name="stubs[1][txtPayDate]" class="refreshable" id="txtPayDate" required value="02/23/17" style="width:85%;">&nbsp;</td>
                                <td align="center"><input type="text" class="addtext" name="stubs[header][employeeid2]" style="width:35%" placeholder="Employee ID" required value="823542" data-val="123">&nbsp;</td>
                            </tr>
                            <tr>
                                <td height="48" bgcolor="#999999">
                                    <label id="incomex">
                                        INCOME
                                    </label> <label id="tatex">

                                        RATE
                                    </label><label id="hoursx">

                                        HOURS
                                    </label>&nbsp;&nbsp;
                                </td>
                                <td width="145" height="48" bgcolor="#999999">
                                    <label></label>&nbsp;<label>

                                        <strong>CURRENT TOTAL</strong>
                                    </label>
                                </td>
                                <td width="193" bgcolor="#999999">
                                    <label>
                                        <strong>DEDUCTIONS</strong>
                                    </label>
                                    <strong>&nbsp;</strong>
                                </td>
                                <td height="48" align="center" bgcolor="#999999">
                                    <label>

                                        <strong>TOTAL</strong>
                                    </label>
                                    <strong>&nbsp;</strong>
                                </td>
                                <td height="48" align="center" bgcolor="#999999">
                                    <label>

                                        <strong>YTD TOTAL</strong>
                                    </label>
                                    <strong>&nbsp;</strong>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" rowspan="4" bgcolor="#FFFFFF">
                                    <label id="payratelavel"> GROSS EARNINGS </label>
                                    <input type="text" name="stubs[header][payrate]" old-value="0.00" class="refreshable" id="payrate" value="11.47">


                                    <input type="text" name="stubs[header][payhours]" class="refreshable" id="payhours" " value="40">

                                    <input type="text" name="stubs[header][grosspay]" class="refreshable" id="grosspay" class="refreshable" value="458.80">


                                </td>
                                <td height="48"><p>FICA - MEDICARE</p></td>
                                <td height="48" align="center"> <input type="text" name="stubs[header][ficamedtax]" class="refreshable" id="ficamedtax" style="width:65%; " value="6.65"> </td>
                                <td height="48" align="center">
                                    <input type="text" name="stubs[1][ytdficamedtax]" class="refreshable" id="ytdficamedtax" style="width:65%; " value="345.80">
                                </td>
                            </tr>
                            <tr>
                                <td height="48"><p>FICA - SOCIAL SECURITY</p></td>
                                <td height="48" align="center">
                                    <input type="text" name="stubs[header][ficasstax]" class="refreshable" id="ficasstax" style="width:65%;" value="30.74">
                                </td>
                                <td height="48" align="center">
                                    <input type="text" name="stubs[1][ytdficasstax]" class="refreshable" id="ytdficasstax" style="width:65%; " value="1431.56">

                                </td>
                            </tr>
                            <tr>
                                <td height="48"><p>FEDERAL TAX</p></td>
                                <td height="48" align="center">
                                    <input type="text" name="stubs[header][fedtax]" class="refreshable" id="fedtax" style="width:65%; " value="48.56">

                                </td>
                                <td height="48" align="center">
                                    <input type="text" name="stubs[1][ytdfedtax]" class="refreshable" id="ytdfedtax" style="width:65%; " value="2385.76">

                                </td>
                            </tr>
                            <tr>
                                <td height="48"><p>STATE TAX</p></td>
                                <td height="48" align="center">
                                    <input type="text" name="stubs[header][sttax]" class="refreshable" id="sttax" style="width:65%; " value="18.33">
                                </td>
                                <td height="48" align="center">
                                    <input type="text" name="stubs[1][ytdsttax]" class="refreshable" id="ytdsttax" style="width:65%; " value="1431.56">

                                </td>
                            </tr>
                            <tr>
                                <td height="48" colspan="5">
                                    <table width="977" border="1">
                                        <tr>
                                            <td width="144" height="40" align="center" bgcolor="#999999">YTD GROSS</td>
                                            <td width="157" align="center" bgcolor="#999999">YTD DEDUCTIONS</td>
                                            <td width="185" align="center" bgcolor="#999999">YTD NET PAY</td>
                                            <td width="167" align="center" bgcolor="#999999">TOTAL</td>
                                            <td width="180" align="center" bgcolor="#999999">DEDUCTIONS</td>
                                            <td width="452" align="center" bgcolor="#999999">NET PAY</td>
                                        </tr>
                                        <tr>
                                            <td height="40" align="center"><input type="text" name="stubs[1][ytdgross]" class="refreshable" id="ytdgross" style="width:70%;" value="23857.60">&nbsp;</td>
                                            <td align="center">  <input type="text" name="stubs[1][ytddeductions]" class="refreshable" id="ytddeductions" style="width:70%;" value="4163.12">&nbsp;</td>
                                            <td align="center">  <input type="text" name="stubs[1][ytdnetpay]" class="refreshable" id="ytdnetpay" style="width:70%;" value="19694.48">&nbsp;</td>
                                            <td align="center"> <input type="text" name="stubs[header][currenttotal]" class="refreshable" id="currenttotal" style="width:70%;" value="458.80">&nbsp;</td>
                                            <td align="center"><input type="text" name="stubs[header][currentdeductions]" class="refreshable" id="currentdeductions" style="width:70%;" value="80.06">&nbsp;</td>
                                            <td align="center"><input type="text" name="stubs[header][netpay]" id="netpay" class="refreshable" style="width:70%;" value="378.74">&nbsp;</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr></tr>
                        </table>

                        <div class="clear"></div>

                        <div class="clear"></div>
                        <br /><br />

                        <div id="show_popup"></div>

                        <br>


                        <div class="row buttons" id="lbhtml" style="float: left; margin-left: 20px;">
                            @*<button class="btn btn-primary" name="yt4" type="submit" id="viewsub">Print Statement</button>*@ 
                            <a href="javascript:window.print()">Print statement</a>
                        </div>
                        <div class="clear"></div>
                        <div id="submit">
           
                           
                            <div class="clear"></div>
                        </div>
                        <input type="hidden" value="classic" name="stubs[classic]" />
                    </form>
                    <div class="clear"></div>
                </div>

                <script type="text/javascript" src="/js/moment.min.js"></script>
                <script type="text/javascript" src="/js/federalTaxes.min.js"></script>
                <script type="text/javascript" src="/js/stateTaxes.min.js"></script>
                <script type="text/javascript" src="/js/stubs.min.js"></script>
                <script type="text/javascript" src="/js/custom_classic.min.js"></script>
                <script type="text/javascript" src="/js/jquery.bxslider.min.js"></script>
                <script type="text/javascript" src="/js/intro.js"></script>
                <script type="text/javascript">
            function startIntro(){
                var intro = introJs();
                intro.setOptions({
                    steps: [{
                        element: '#howpaid',
                        intro: "Choose pay frequency."
                    },{
                        element: '#maritalStatus',
                        intro: 'Choose marital status.',
                        position: 'right'
                    },{
                        element: '#txtPayDate',
                        intro: 'Last 4 and pay date'
                    },{
                        element: '#lbhtml',
                        intro: 'Enter'
                    }]
                });

                intro.start();
            }
                </script>
          
    </body>

</div>

<footer>
    <center>
        <p>&copy; @DateTime.Now.Year - United Extended Home Healthcare</p>
    </center>
</footer>
