<br /><br /><br /><br />
<div class="container">
    @{
        ViewBag.Title = "Caregiver";
    }

    <h2>Caregiver</h2>
    <center><img src="~/Content/image/photos_012111_.jpg" /></center>






    <strong>Weekly Time Sheets</strong>
    <br /><br />
    <p><a href="~/Content/image/TimeSheet.pdf" value="Resume"> Personal Care Worker (PCW) Time Sheet </a></p>

</div>