<div class="container">
    <br /><br /><br /><br />
        @{
            ViewBag.Title = "Employment";
        }
        <h2>@ViewBag.Title.</h2>
 


        Anyone 18 years and older may apply for work with United Extended Home Healthcare as a Personal Care Worker (PCW). You will be required to fill out an application, go through a criminal background check, and TB screening.
        Once you have completed and meet all the requirements, you will be required to complete orientation and training prior to starting work with any patients. Additional training will be provided depending on the needs of the particular patient that you will care for.
      
        <br /><br />
        <p>
            Family Providing Care to Family Members. Anyone meeting the qualification to be a PCW can provide care for his/her family member if that family member agrees to it.
            However, you cannot be a parent, legal guardian, or have legal responsibilities for that family member. For example, a child 18 years or older can provide care for his/her mom, dad, sister, brother, aunt, uncles, or grandparents.
            A parent can be a PCW for a child over 18 but not a child who is a minor and is still legally under his/her care.
        </p>

        
            <p>For more information, please contact our office or the Human Resource Department at (414) 123.4567. Thank you.</p>
            
    <br /><br /><br /><br />
    <strong>Want to work for us? Download all required documents for employment </strong> 
    <br /><br />
    <p><a href="~/Content/image/TimeSheet.pdf" value="Resume"> Personal Care Worker (PCW) Time Sheet </a></p>
       
    </div>
