<br /><br /><br /><br />
<div class="container">
    @{
        ViewBag.Title = "Events";
    }

  <h2>Events</h2>

    <script type="text/javascript"></script>
    <div class="row">

        <div class="col-md-12">


            <div id="Calendar"></div>
            <p>
                @if (Request.IsAuthenticated)
                {
                    <a class="btn btn-default" href="@Url.Action("UpcomingEvents", "Calendar")">Upcoming Events &raquo;</a>
                }
                else
                {
                    @*<a class="btn btn-default" href="@Url.Action("Login", "Account")">Log in &raquo;</a>*@
                }
            </p>
        </div>

     <iframe src="https://calendar.google.com/calendar/embed?title=United%20Extended%20Home%20Healthcare&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=koudkou%40gmail.com&amp;color=%232952A3&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%232F6309&amp;ctz=America%2FChicago" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
     <br /><br />
    </div>
    <footer>
        <center>
            <p>&copy; @DateTime.Now.Year - United Extended Home Healthcare</p>
        </center>
    </footer>

</div>