<br /><br /><br /><br />
<div class="container">
    <center><img src="~/Content/image/Ginkologo_final_web.jpg" /></center>
    <br /><br />
    @{
        ViewBag.Title = "Gallery";
    }

    <h2>Gallery</h2>

<img src="~/Content/image/photos_012111_.jpg" />
  
    <img src="~/Content/image/grandma_daughter.jpg" />
   <img src="~/Content/image/photos_012111_3.jpg" />
    <img src="~/Content/image/photos_012111_B.jpg" />
  <img src="~/Content/image/fue's dad.tif" />




</div>