    <meta name="viewport" content="width=device-width" />    
    <link href="~/Content/FrontPageStyle/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/FrontPageStyle/stylish-portfolio.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">




<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <br /><br />

    <!-- Header -->
    <header id="top" class="header">
        <br /><br />
        <div class="text-vertical-center">
          
            <h1>United Extended Home Healthcare</h1>
            <h3>Our Service Is Providing Care for your loved ones. We Work For You.</h3>
        
            <br>
            <center><img src="~/Content/image/Ginkgol_largeWeb.png" /></center> 
        </div>
    </header>


</body>







