
    <link href="~/Content/FrontPageStyle/bootstrap.min.css" rel="stylesheet">


    <link href="~/Content/FrontPageStyle/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">




<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">



    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>United Extended Home Healthcare</h1>
            <h3>Our Service Is Providing Care for your loved ones. We Work For You.</h3>
            <br>
            <p class="btn btn-dark btn-lg">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</p>
            <p class="btn btn-dark btn-lg">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
        </div>
    </header>


</body>


