<br /><br /><br /><br />
<div class="container">
    @{
        ViewBag.Title = "Services";
    }

<h2>Services</h2>
    Personal care services provides hands on assistance to people who need help with activities of daily living such as bathing, grooming, dressing, transfers, ambulation, toileting, meal preparation, and light housekeeping duties to enable the person to live as normal as possible.

    <p>We take pride in helping you, your family and friends who are:</p>
    <p>*Elderly</p>
    <p>*Disable</p>
    <p>*Physical Ill</p>
    <p>*Or need personal care help in the home</p>

    <br />
    <p><strong>What Does RN Case Manager Do?</strong></p>

    After a patient is admitted by the Admission Nurse, he/she is assigned to a RN Case Manager who will be the primary nurse for the patient. The RN Case Manager will make a home visit every 50-60 days to re-evaluate the patient’s condition, personal care needs, cares provided and update the care plan as necessary. The RN Case Manager will also coordinate care between the agency, the patient’s primary physician, and any other healthcare entity working with the patient. In addition, the RN Case Manager will supervise PCW’s and train them in any area the RN deems necessary for the PCW to provide the best care possible to the patient.

    What Personal Care Worker (PCW) Do?

    A Personal Care Worker is a person trained by the agency to provide care to patients in their own homes. The PCW works under the supervision of the RN Case Manager. The PCW follows a plan-of-care prepared by a registered nurse and agreed to by the patient and the patient’s primary care physician. The PCW’s assignments include food preparation, bathing, dressing, light housekeeping, transfer, and other daily living activities as needed. Each care plan is individualized to a patient’s specific condition and needs. PCW is also require to attend regular training as set by the agency and make report to the agency in regards to PCW’s role or patient’s condition change, information change.

    What Patient or Family Member Who Legally Responsible for the Patient Do?

    The patient or a person who is legally responsible for the patient need to report to the agency when there are changes in patient’s condition, insurance, address and phone number. Also patient or legally responsible person needs to report when a PCW does not show up to work as schedule or if the patient is hospitalized or goes out of town so that prompt follow-up can be scheduled.


</div>
<footer>
    <center>
        <p>&copy; @DateTime.Now.Year - United Extended Home Healthcare</p>
    </center>
</footer>